*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkpink:#DD127B;
}
.darkpink{
    background-color: var(--darkpink);
}

/* TopHead Section Start */
.container .row .topheadtext-left a,.container .row .topheadtext-right a {
    text-decoration: none; 
    font-size: 13px;
    font-weight: 4;
}
.container .row a:hover {
    color: var(--darkpink);

}
.text-light {
    color: #fff !important;
}
.text-light:hover {
    color: #4867ed !important;
}
/* TopHead Section End */

/* Header Section Start */
.navbar-brand img{ 
    transition: 0.2s linear;
}
.navbar-brand img:hover { 
    transform: scale(1.05);
    transition: 0.2s linear;
}
/* /Header Section End */

/* Navbar Section Start */
.navbar a{
    color: #000;
}
.navbar a:hover , .navbar-nav .nav-item  .active {
    color: var(--darkpink);
}
/* Navbar Section End */

/* Banner/Hero Section Start */
#carouselExampleInterval .carousel-inner h5,h1 {
    color: var(--darkpink);
}
.btn{
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    background-color: #1CABF3;

}
.btn {
    transition: 0.2s linear;
}    
.btn:hover{
    transform: scale(1.05);
    transition: 0.2s linear;    
    border: 1px solid var(--darkpink);
    color: var(--darkpink);
    background-color : #1CABF3;
}
.carousel-indicators [data-bs-target]{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--darkpink);
}
.carousel-item .carousel-caption {
    top: 40%;
    left: 9%;
    right: 9%;
    text-align: left;
    color: var(--darkpink);
}
.carousel-control-prev-icon ,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
}
/* Banner/Hero Section End */

/* Notification Section Start */
marquee{
    font-size: 16px;
    font-weight: 600!important;
    box-shadow: 0px 0px 5px grey;
    border-bottom: 1px solid #d1b6b6;
}
/* Notification Section End */

/* About Section Start */
.text-darkpink {
    color: var(--darkpink);
}
.about .about-text p {
    text-align: justify;
}
/* About Section End */

/* Our Courses Section Start */
.bg-secondary2{
    background: #E2E2E2;
}
.our-courses h3{
    color: var(--darkpink);
    font-weight: bold;
    padding-bottom: 15px;
}
.row {    
    display: flex;
    flex-wrap: wrap;
 
}
.rounded{
    border-radius: 7px !important;
}
.bg-warning {
    background-color: #E2E2E2;
}
.col-mg-4{
    width: 320px;    
}
.our-courses .col-md-4 .word a {
    text-decoration: none;
    list-style: none;
    font-weight: 500;
}
.text-light-courses {
    color: #fff !important;
}
.text-light-courses:hover {
    color: var(--darkpink) !important;
}
/* Our Courses Section End */

/* Footer Section Start */
.text-light-footer  {
    color: rgb( 248,249,250);
}
.bg-dark{
    background: #212529;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.mb-2{
    margin-bottom: 8px !important;
}
.fs-6 {
    font-size: 1rem!important;
}
P {
    font-family: "roboto", sans-serif;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.social-media li {
    width: 35px;
    height: 35px;
    padding-top: 5px;  
    border-radius: 50%;
    text-align: center;
    background-color: #0093dd;
    box-shadow: 0px 0px 3px 1px #0093dd;
}
footer ul li {    
    margin-left: 15px;
}
footer .social-media li { 
    transition: 0.2s linear;
}
footer .social-media li:hover { 
    transform: scale(1.05);
    transition: 0.2s linear;
}
.text-start {
    text-align: left !important;
}
.fs-16 {
    font-size: 16px;
}
.fw-5 {
    font-weight: 500;
}

a {
    font-family: "roboto", sans-serif;
    text-decoration: none;
}
.text-light-footer-copy {
    color: #4867ed;
}
.text-light-footer-copy:hover{
    color: var(--darkpink);
}
/* Footer Section End */