*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkpink:#DD127B;
}
.darkpink{
    background-color: var(--darkpink);
}
/* TopHead Section Start */
.container .row .topheadtext-left a,.container .row .topheadtext-right a {
    text-decoration: none; 
    font-size: 13px;
    font-weight: 4;
}
.container .row a:hover {
    color: var(--darkpink);

}
.text-light {
    color: #fff !important;
}
.text-light:hover {
    color: #4867ed !important;
}
/* TopHead Section End */


/* Header Section Start */
.navbar-brand img{ 
    transition: 0.2s linear;
}
.navbar-brand img:hover { 
    transform: scale(1.05);
    transition: 0.2s linear;
}
/* /Header Section End */

/* Navbar Section Start */
.navbar a{
    color: #000;
}
.navbar a:hover , .navbar-nav .nav-item  .active {
    color: var(--darkpink);
}

/* Navbar Section End */


/* Banner/Hero Section Start */
#carouselExampleInterval .carousel-inner h5,h1 {
    color: var(--darkpink);
}
.btn{
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    background-color: #1CABF3;

}
.btn:hover{
    border: 2px solid var(--darkpink);
    color: var(--darkpink);
    background-color : #1CABF3;
}
/* Banner/Hero Section End */

/* Notification Section Start */
marquee{
    font-size: 16px;
    font-weight: 600!important;
    box-shadow: 0px 0px 5px grey;
    border-bottom: 1px solid #d1b6b6;
}
/* Notification Section End */

.about .container .row .text-danger {
    font-weight: 600;
} 
.about .container .row  h3 .text-bharat {
    color: var(--darkpink);
    font-weight: 600;
}
.about .container .row  h3 .text-primary  {
    font-weight: 600;
}
.about .about-text p {
    text-align: justify;
}
.about .about-notification .news {
    color: var(--darkpink);
    font-weight: 600;
}